<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bloggers haven</title>
</head>
<body>
    <header class="bar">
        <h1><a href ="/">Bloggers Haven</a></h1>
        <nav class="nav">
        <a href="/">home</a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/dashboard">dash</a> 
        <a href="/newpost">new post!</a>
        <button class="no-button" id="signOut">signout</button>
        {{else}}
        <a href="/signin">signin/signup</a>
        {{/if}}
        </nav>
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
        
    </footer>
</body>
</html>

<script src="/js/signout.js"></script>