<form class="newpost">
    <input type="text" id="titleB" placeholder="title"></input>
    <input type="text" id="content" placeholder="content"></input>
    <input type="submit" id="post" value="post!">
</form>
<script src="/js/newpost.js"></script>