<div class="login">
    <div id="signin">
        <h2>been here before?, sign in here</h2>
        <form class="signinForm">
            <div>
                <label for="nameIn">Username:</label>
                <input type="text" id="nameIn" name="nameIn">
            </div>

            <div>
                <label for="passIn">Password:</label>
                <input type="password" id="passIn" name="passIn">
            </div>

            <input type="submit" value="Sign in">
        </form>
    </div>
    <div id="signup">
        <h2>new?, sign up here</h2>
        <form class="signupForm">
            <div>
                <label for="nameUp">Username:</label>
                <input type="text" id="nameUp" name="nameUp">
            </div>

            <div>
                <label for="passUp">Password:</label>
                <input type="password" id="passUp" name="passUp">
            </div>

            <input type="submit" value="Sign up">
        </form>
    </div>

    <script src="/js/signin.js"></script>
</div>